[submodule "kicad-libs"]
	path = kicad-libs
	url = git@github.com:PyCubed-Mini/kicad-libs.git
[submodule "Solar-Panel-Z-/kicad-libs"]
	path = Solar-Panel-Z-/kicad-libs
	url = https://github.com/PyCubed-Mini/kicad-libs.git
